*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  position: relative;
  color: rgb(163, 105, 105);
    position: sticky;
}


.nav-link a{
  color:rgb(163, 105, 105);
  text-decoration: none;
 }
  .nav-link a:hover{
  color: #0077ff
 }
.logo h1 {
  width: 50px;

}

.nav-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  display: flex;
  gap: 20px;
  cursor: pointer;
  list-style: none;
}

.btns {
  display: flex;
  gap: 10px;
}

.btn1{
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}
.btn1 {
  background: linear-gradient(to right, #00aaff, #0077ff);
  color: white;
  border-radius: 4px;
}
.btn1:hover {
  background: linear-gradient(to right, #0077ff, #0055cc);
}

.image{ 
  display: flex;
  position: relative;
 width: 100%;
}
.image img{
    width: 100%;
}
.image h1{
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
}
.discription{
    margin-top: 30px;
    padding: 50px;
    border: 0px;
    border-radius: 15px;
    box-shadow: 0px 4px 7px rgb(99, 97, 97);
    width: 900px;
    justify-self: center;
}

.discription p{
    padding: 20px;
}
.details{
    text-align: center;
    gap: 10px;
    padding: 20px;
}
ul{
    list-style: none;
}
li{
    padding: 10px;
}

.btns {
  display: flex;
  gap: 10px;
   justify-self: center;

}

.btn1{
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  width: 350px;
}
.btn1 {
  background: linear-gradient(to right, #00aaff, #0077ff);
  color: white;
  border-radius: 4px;
}
.btn1:hover {
  background: linear-gradient(to right, #0077ff, #0055cc);
}

.btn2{
  width: 60px;
  height: 60px;
  border-radius:50% ;
}


.gallery{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 10px 0px ;
  gap: 20px;
  width: 100%;
}

.gallery img{
  width: 400px;
  justify-self: center;
  padding: 0px;
  border-radius: 25px;
  box-shadow: 0px 4px 7px black;
}

.f-head{
  display: flex;
  flex-direction: row;
}

.f-head .pricing{
  background-color: #00aaff;
  width: 190px;
  border-radius:5px ;
  height: 25px;
  text-align: center;
  margin-left: 70px;
}

.duration{
  font-weight: 500;
  color: rgba(56, 55, 54, 0.496);
}

    .form-data {
  display: none;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.515);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
.cls-form {
  margin: 15px 0;
  padding: 10px ;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;


  
}
.f-input {
  padding: 5px;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  width: 550px;
  align-self: center;
  margin-top: 10px;
}

.f-input select{
   /* padding: 0px 8px; */
  height: 50px;
  border-radius: 5px;
}


.f-input input {
  padding: 12px 8px;
  border-radius: 5px;
}

.f-input label{
  margin: 8px 0;
  color: black;
}
.fo-btns {
  padding: 20px;
  gap: 10px;
  align-self: center;
}
.fo-bt {
  background-color: rgb(90, 92, 228);
  height: 50px;
  width: 400px;
  border: 0px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.close{
  display: flex;
  flex-direction: row-reverse;
 padding: 40px 40px;

}
.close .fo-bt1 {
  background-color: rgb(219, 42, 42);
  height: 50px;
  width: 50px;
  border: 0px;
  border-radius: 50%;
  cursor: pointer;

}
@media (max-width: 768px){
  .navbar{
    display: flex;
    flex-direction: column;
  }
  .image h1{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: medium;
  }
  .discription{
      width:300px ;
      height: auto;
      text-align: center;
  }
  .discription p{
    line-height: 1.3rem;
    font-size: small;
  }
  .btn1{
    width: 130px;
  }
 .main-cls{
  height: 200px;
 }
 .form-data{
  height: 100px;
 
 }
 .f-input{
  width: 300px;
 }
 .close{
  justify-self: center;
  position: absolute;
  bottom: 1px;
  right: 1px;
 }
.fo-btns{ 
  justify-self: center;
  align-self: center;
}
.fo-bt{
  width: 100px;
}
}
